<mat-divider></mat-divider>
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div *ngIf="characters; then displayCharacters; else spinner"></div>
    </mat-toolbar-row>
</mat-toolbar>

<ng-template #displayCharacters>
    <div #buttonProfileContainer style="max-width: 100%; width: 100%;" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <button mat-button class="mat-elevation-z6" [id]="character?.id"
            (click)="onMiniProfileClick(character?.id)" *ngFor="let character of characters">
            <app-mini-profile [character]="character" (miniProfileClick)="onMiniProfileClick($event)"></app-mini-profile>
        </button>
    </div>
</ng-template>

<ng-template #spinner>
    <div style="width: 100%; margin-bottom: 15px;" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</ng-template>