<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span style="max-width: 100%; width: 100%;" fxLayout="row" fxLayoutAlign="space-between">
            <app-home-menu-buttons (menuClick)="onMenuClick()" (homeClick)="onHomeClick()"></app-home-menu-buttons>
            <span fxLayout="row" fxLayoutAlign="center center">
                <span style="font-size: large;" *ngIf="displayName && showDisplayName">{{displayName}}</span>
                <button mat-icon-button disableRipple="true" aria-label="Log-in Button" matTooltip="Logs you in to your Bungie account."
                    (click)="logOnClick()" *ngIf="!loggedIn">
                    <mat-icon>login</mat-icon>
                </button>
                <button mat-icon-button disableRipple="true" aria-label="Log-out Button" matTooltip="Logs you out of your Bungie account."
                    (click)="logOutClick()" *ngIf="loggedIn">
                    <mat-icon>logout</mat-icon>
                </button>
            </span>
        </span>
    </mat-toolbar-row>
</mat-toolbar>