<mat-toolbar style="max-width: 100%;" color="primary">
    <mat-toolbar-row style="max-width: 100%;">
        <div style="width: 100%;" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <h2>Characters</h2>
                <!-- <button mat-icon-button [routerLink]="''">
                    <mat-icon>home</mat-icon>
                </button> -->
                <button mat-icon-button (click)="onHomeClick()">
                    <mat-icon>home</mat-icon>
                </button>
            </div>
            <div #buttonProfileContainer fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div *ngIf="loggedIn; then enabledMiniProfiles else disabledMiniProfiles"></div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<ng-template #enabledMiniProfiles>
    <!-- <button mat-button class="mat-elevation-z6" [id]='character?.id' [routerLink]="['character']"
        [queryParams]="{id:  character?.id}" (click)="removeHighlights()" *ngFor="let character of characters">
        <app-mini-profile [character]="character"></app-mini-profile>
    </button> -->
    <button mat-button class="mat-elevation-z6" [id]='character?.id' (click)="onMiniProfileClick(character?.id)" *ngFor="let character of characters">
        <app-mini-profile [character]="character" (miniProfileClick)="onMiniProfileClick($event)"></app-mini-profile>
    </button>
</ng-template>

<ng-template #disabledMiniProfiles>
    <!-- <button disabled mat-button class="mat-elevation-z6" [id]='character?.id' [routerLink]="['character']"
        [queryParams]="{id:  character?.id}" (click)="removeHighlights()" *ngFor="let character of characters">
        <app-mini-profile [character]="character"></app-mini-profile>
    </button> -->
    <button disabled mat-button class="mat-elevation-z6" [id]='character?.id' *ngFor="let character of characters">
        <app-mini-profile [character]="character"></app-mini-profile>
    </button>
</ng-template>