<div style="padding-top: 5px; padding-bottom: 5px;" fxlayout="column" fxLayoutAlign="space-around center">
    <mat-card style="width: 60%;">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-card-header>
                <mat-card-title style="font-size: medium;">Click to add a new wardrobe</mat-card-title>
                <mat-card-subtitle style="font-size: small;">wardrobes are categories for outfits
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-actions>
            <span fxLayout="row" fxLayoutAlign="space-around">
                <button class="mat-elevation-z6" style="font-size: 40px;" mat-button (click)="addWardrobe()">
                    <mat-icon [inline]="true">add</mat-icon>
                </button>
            </span>
        </mat-card-actions>
    </mat-card>
</div>
<div #wardrobesParentContainer>
    <!-- see wardrobe.html for the reason of having a child container -->
    <!-- TODO: fix ViewContainerRef misalignment -->
    <div #wardrobesContainer></div>
    <app-wardrobe [wardrobeName]="wardrobe.key" [initialOutfits]="wardrobe.value" [currentUserMembership]="currentUserMembership" [characterId]="characterId" [transferStorage]="transferStorage" *ngFor="let wardrobe of wardrobes | keyvalue"></app-wardrobe>
</div>
