<button 
    mat-button 
    class="mat-elevation-z4" 
    style="width: 150px; height: 100px; margin-right: 30px;" 
    (click)="dawnEquips()" 
    *ngIf="!toHide">
    <div fxLayout="row" fxLayoutAlign="end start">
        <button 
            id="close-button" 
            color="warn" 
            style="margin-right: -20px;" 
            mat-icon-button 
            (click)="close();$event.stopPropagation()">
            <mat-icon style="font-size: small;">close</mat-icon>
        </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center end">
        <mat-form-field style="width: 100px; margin-left: -15px;">
            <mat-label>Outfit Name</mat-label>
            <input 
                #nameText 
                matInput 
                type="text" 
                [formControl]="formControl" 
                [errorStateMatcher]="matcher" 
                (click)="$event.stopPropagation()"
                (blur)="saveEquipment();$event.stopPropagation()">
            <mat-error #outfitError *ngIf="formControl.hasError('pattern')">
                Must be alphanumeric
            </mat-error>
            <mat-error #outfitError *ngIf="formControl.hasError('required')">
                Please enter a name
            </mat-error>
            <button 
                id="form-close-button" 
                mat-button color="warn" 
                *ngIf="formControl?.value" 
                matSuffix 
                mat-icon-button 
                aria-label="Clear"
                (click)="setOutfitNameValue('');$event.stopPropagation()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</button>