<div #appContainer>
    <!-- loading spinner -->
    <div #overlaySpinnerContainer></div>

    <mat-sidenav-container class="sidenav-container">
        <!-- sidenav content -->
        <mat-sidenav #sidenav mode="over">
            <!-- menu and home buttons -->
            <mat-toolbar style="min-width: 300px;" color="primary">
                <mat-toolbar-row>
                    <app-home-menu-buttons (menuClick)="sidenav.toggle()"></app-home-menu-buttons>
                </mat-toolbar-row>
            </mat-toolbar>
            <div class="sidenav-content">
                <!-- vault slide toggle -->
                <div class="sidenav-row">
                    <mat-slide-toggle #vaultSlideToggle color="accent" [checked]="transferStorageService.transferStorage === 'vault'"
                        (change)="onVaultToggleChange($event)" aria-label="Vault Transfer Slide-Toggle">
                        <span class="sidenav-row-label">Vault Transfer</span>
                    </mat-slide-toggle>
                </div>
                <!-- darkmode slide toggle -->
                <div class="sidenav-row">
                    <mat-slide-toggle #darkModeSlideToggle color="accent" aria-label="Dark Mode Slide-Toggle"
                        (change)="onDarkModeToggleChange()">
                        <span fxLayout="row" fxLayoutAlign="center center" class="sidenav-row-label">
                            <mat-icon style="padding-right: 5px;">dark_mode</mat-icon> Dark Mode
                        </span>
                    </mat-slide-toggle>
                </div>
            </div>
        </mat-sidenav>

        <!-- main content -->
        <mat-sidenav-content>
            <!-- header -->
            <header>
                <app-header (menuClick)="sidenav.toggle()"></app-header>
            </header>
            <mat-divider></mat-divider>

            <!-- load route -->
            <div class="page-content">
                <router-outlet></router-outlet>
            </div>

            <!-- footer -->
            <app-footer class="footer"></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>