<div class="emblem-background" fxLayout="row" fxLayoutAlign="space-between center"
    style="background: url({{character?.background}});">
    <div style="width: 100%;" fxLayout="row">
        <div *ngIf="character?.emblem; then characterEmblem else defaultEmblem"></div>
        <div fxLayout="column" fxLayoutAlign="center start" style="width: 100%; padding-left: 5px;">
            <div class="character-class">{{character?.class}}</div>
            <div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between">
                <div class="character-race-gender">{{character?.race}} {{character?.gender}}</div>
                <div fxLayout="column" fxLayoutAlign="end end">
                    <div class="light">{{character?.light}}</div>
                </div>  
            </div>
        </div>
    </div>
</div>

<ng-template #defaultEmblem>
    <img class="emblem" style="background-color: gray;" *ngIf="!character?.emblem">
</ng-template>
<ng-template #characterEmblem>
    <img class="emblem" [src]="character?.emblem" alt="" *ngIf="character?.emblem">
</ng-template>