<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="start end">
        <section style="width:100%;">
            <h2 class="menu-header">Menu</h2>
            <span style="width:100%;" fxLayout="row" fxLayoutAlign="space-between end">
                <span fxLayout="row">
                    <app-log-in-out-button [loggedIn]="loggedIn"></app-log-in-out-button>
                    <div>
                        <div *ngIf="loggedIn; then loggedInLabel; else loggedOutLabel"></div>
                        <p style="padding-left: 15px;">Unequipped items will be sent to the <span
                                class="item-box mat-elevation-z4">{{storage}}</span>.</p>
                        <app-menu-button #menuToggleButton></app-menu-button>
                    </div>
                </span>
                <p class="plug">
                    <span>you can find me on steam! </span>
                    <a target="_blank" rel="external" href="{{steamProfileLink}}">{{steamId}} or {{steamName}}</a>
                </p>
            </span>
        </section>
    </mat-toolbar-row>
</mat-toolbar>

<ng-template #loggedOutLabel>
    <p>Log in to save outfits for your guardians.</p>
</ng-template>
<ng-template #loggedInLabel>
    <p>Logged in as <span class="username">{{displayName}}</span>.</p>
</ng-template>