<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="start end">
        <section>
            <h2 class="menu-header">Menu</h2>
            <span fxLayout="row">
                <app-log-in-out-button></app-log-in-out-button>
                <div>
                    <!-- TODO: base condition on loggedIn status. -->
                    <!-- TODO-NODE: calling dataforcurrentuser service and using lastseendisplayname, need oauth. -->
                    <div *ngIf="true; then loggedIn; else loggedOut"></div>
                    <p style="padding-left: 15px;">{{menuToggleLabel}}<span
                            class="item-box mat-elevation-z4">{{menuToggleButton.toggleSelected}}</span>.</p>
                    <app-menu-button #menuToggleButton></app-menu-button>
                </div>
            </span>
        </section>
    </mat-toolbar-row>
</mat-toolbar>

<ng-template #loggedOut>
    <p>{{userLoggedOutLabel}}</p>
</ng-template>
<ng-template #loggedIn>
    <p>{{userLoggedInLabel}}<span class="username">{{username}}</span>.</p>
</ng-template>