<div style="padding-bottom: 5px;" fxlayout="column" fxLayoutAlign="space-around center" *ngIf="!toHide">
    <mat-card style="width: 100%; max-width: 100%;">
        <div fxLayout="column" style="max-width: 100%;">
            <div fxLayout="row" fxLayoutAlign="end start" style="max-width: 100%;">
                <button color="warn" mat-icon-button (click)="close()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <form style="margin-top: -40px;">
                <mat-form-field style="width: 150px;">
                    <mat-label>Wardrobe Name</mat-label>
                    <!-- on blur event, update the name of the wardrobe set in localstorage for outfits -->
                    <input matInput [formControl]="formControl" [errorStateMatcher]="matcher"
                        placeholder="Ex. PVP or Nightfalls..">
                    <mat-error #wardrobeMalfunction *ngIf="formControl.hasError('pattern')">
                        Must be alphanumeric
                    </mat-error>
                    <mat-error #wardrobeMalfunction *ngIf="formControl.hasError('required')">
                        Please enter a name
                    </mat-error>
                    <button mat-button color="warn" 
                            *ngIf="formControl?.value" 
                            matSuffix mat-icon-button aria-label="Clear"
                            (click)="setWardrobeNameValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </form>
            <span fxLayout="row wrap">
                <div fxLayout="column" fxLayoutAlign="end start">
                    <mat-card-header style="margin-left: -18px;">
                        <mat-card-title style="font-size: small; margin-top: 5px;">Click to capture your outfit
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-actions style="padding-left: 40px;">
                        <button #addOutfitButton 
                                class="add-button mat-elevation-z6" 
                                mat-button 
                                (click)="addOutfit()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-card-actions>
                </div>
                <div #outfitsParentContainer
                    style="overflow-x: auto; max-width: 65%; padding-top: 40px; padding-bottom: 10px; padding-left: 5px;"
                    fxLayout="row">
                    <div #outfitsContainer></div>
                    <app-outfit [equipment]="outfit?.value?.equipment" 
                                [characterId]="characterId" 
                                [currentUserMembership]="currentUserMembership"
                                [wardrobeName]="wardrobeName" 
                                [transferStorage]="transferStorage" 
                                [outfitName]="outfit?.key" 
                                (toggleHighlightsEvent)="wardrobeService.toggleHighlights($event)" 
                                *ngFor="let outfit of initialOutfits | keyvalue">
                    </app-outfit>
                </div>
            </span>
        </div>
    </mat-card>
</div>