.homePageContainer {
    height: 100%;
    margin: 0pt;
}

.content {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tut-card {
    margin-top: 20px;
    margin-bottom: 20px;
}
