
<body>
    <app-header [loggedIn]="loggedIn" [characters]="characters" (miniProfileClick)="onMiniProfileClick($event)" (homeClick)="onHomeClick()"></app-header>

    <div class="content">
        <section fxLayout="row column" fxLayoutAlign="space-around" *ngIf="!characterTabId">
            <div style="padding-top: 10px;">
                <p>
                    This site is under construction. <br>
                    It's a hobby-site/project started during stay-at-home quarantine. <br>
                    Equipment swapping features for the Bungie I.P., Destiny 2, will be provided here in the future. <br>
                    An account with Bungie will be needed to use that feature.
                </p>
            </div>
        </section>

        <!-- <router-outlet></router-outlet> -->

        <div *ngIf="loggedIn">
            <div *ngFor="let character of characters">
                <app-character [characterId]="character.id" [transferStorage]="transferStorage" *ngIf="character.id === characterTabId"></app-character>
            </div>
        </div>

        
    </div>

    <app-footer [displayName]="displayName" [loggedIn]="loggedIn" [transferStorage]="transferStorage" (menuToggleClickEvent)="onMenuToggleClick($event)" class="footer"></app-footer>
</body>