/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import "~@angular/material/theming";
@include mat.core();
$primary: mat.define-palette(mat.$blue-grey-palette, 600, 100, 900);
$darkPrimary: mat.define-palette(mat.$blue-grey-palette, 800, 100, 900);
$accent: mat.define-palette(mat.$orange-palette, 300, 100, 900);
$darkAccent: mat.define-palette(mat.$brown-palette, 500);
$warn: mat.define-palette(mat.$red-palette, 600, 100, 900);
$darkWarn: mat.define-palette(mat.$red-palette, 900, 100, 900);
$default-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $darkPrimary,
      accent: $darkAccent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($default-theme);

.darkMode {
  @include mat.all-component-colors($dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
