/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@include mat-core();
$primary: mat-palette($mat-blue-grey, 600, 100, 900);
$darkPrimary: mat-palette($mat-blue-grey, 800, 100, 900);
$accent: mat-palette($mat-orange, 300, 100, 900);
$darkAccent: mat-palette($mat-brown, 500);
$warn: mat-palette($mat-red, 600, 100, 900);
$darkWarn: mat-palette($mat-red, 900, 100, 900);
$default-theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $darkPrimary,
      accent: $darkAccent,
      warn: $warn,
    ),
  )
);

@include angular-material-theme($default-theme);

.darkMode {
  @include angular-material-color($dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
